#root {
  max-width: 1280px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}

.container {
  flex: auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.headers {
  line-height: 3rem;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0.1rem;
}

h2 {
  margin-top: 0rem;
  font-weight: 400;
}
