#root {
  max-width: 1280px;
  height: 100vh;
  padding: 0.5rem;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}

.container {
  flex: auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.headers {
  line-height: 3rem;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0.1rem;
}

h2 {
  margin-top: 1rem;
  font-weight: 400;
}

.menu {
  height: 3rem;
  width: 100%;
}
